$colorPrincipal: #B799FF;
$colorSecundario: #548CFF;
$colorTerciario: #93FFD8;

$colorTexto: #7900FF;
$colorAcento: #ACBCFF;
$colorFondo: #E6FFFD;

$blanco: #fff;
$negro: #000;

$font-family: 'Nunito Sans', sans-serif;
$font-size: 16px;

$header-height: 90px;